<div class="row">
    <div class="col-lg-12">
        <form method="POST" action="/admin/news/createevent">
            <h1 class="row">Opret ny begivenhed</h1>
            <label class="row">Overskrift</label>
            <input type="text" name="headline" class="row">
            <label class="row">Start dato</label>
            <input type="date" name="startDate" class="row" data-provide="datepicker" data-date-format="DD/MM/YYYY">
            <label class="row">Slut dato</label>
            <input type="date" name="endDate" class="row" data-provide="datepicker" data-date-format="DD/MM/YYYY">
            <label class="row">Beskrivelse</label>
            <div class="row">
                <textarea name="body" class="col-lg-6"></textarea>
            </div>
            <label class="row">Max deltagere</label>
            <input type="text" name="maxParticipants" class="row">
            <label class="row">Pris</label>
            <input type="text" name="price" class="row">

            <button type="submit" class="btn btn-primary row">Opret</button>
        </form>
    </div>
</div>
</div>