<div class="row">
    <div class="col">
        {{#if errors }}
        {{#each errors }}
        <p class="alert alert-danger">{{ this.msg }}</p>
        {{/each}}
        {{/if}}
        {{#if success }}
        <p class="alert alert-success">{{ success.msg }}</p>
        {{/if}}
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <form method="POST" action="/admin/news/createpost">
            <h1 class="row">Lav nyt opslag</h1>
            <label class="row">Overskrift</label>
            <input type="text" name="headline" class="row" value="{{inputs.headline}}">
            <label class="row">Beskrivelse</label>
            <div class="row">
                <textarea name="body" class="col-lg-6">{{inputs.body}}</textarea>
            </div>
            <button type="submit" class="btn btn-primary row">Opret</button>
        </form>
    </div>
</div>