<div class="row">
    <div class="col-lg-6">
        <div class="row">
            <p>hello</p>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="row">
            <p>hello2</p>
        </div>
    </div>

</div>