<div class="row">
    <!-- list row -->
    <div class="col-lg-12">
        <div class="row">
            <label class="col-lg-4">Søg med fornavn</label>
            <input class="col-lg-8" type="text" name="nameSearch" id="nameSearch">
            <button id="searchbtn" onclick="searchName()">Søg</button>
        </div>
        <div class="row">
            <select class="input-medium col-lg-12" size="10" id="userList"></select>
        </div>

        <div class="row">
            <!--
            <form method="put" action="/userprofiles">
            {{# if resetPasswordErr }}
            {{# each resetPasswordErr }}
            <p class="alert alert-success">{{this.message}}</p>
            {{/each}}
            {{/if}}
            -->
            <button type="submit" class="col-lg-12 btn btn-danger" id="resetBtn" data-dismiss="Alert">Reset
                password</button>
            <label id="newPasswordLabel"></label>
            </form>
        </div>

    </div>
</div>
<script>
    async function searchName() {
        try {
            const service = await fetch('/admin/userprofiles/' + document.getElementById("nameSearch").value);
            const json = await service.json();
            const list = document.getElementById("userList");
            list.innerHTML = "";
            for (let member of json) {            
                let options = document.createElement('option');
                options.text = member.info.firstname + " " + member.info.lastname;
                list.appendChild(options);
                document.execCommand('copy');
            }
        } catch (err) {
            console.log(err);
        }
    }
</script>