<!-- This is the admin header partial -->
<header>
    <div class="row">
        <div class="col">
            <!-- Just an image -->
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="#">
                    <img src="/favicon.ico" width="30" height="30" alt="">
                </a>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/users">Brugere</a>
                    </li>
                         <li class="nav-item">
                        <a class="nav-link" href="/admin/subscriptions">Kontingenter</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>