<!-- This is the footer partial -->
<footer>
    <div class="row">
        <div class="col">
            <p><center><small>Copyright © 2019 Aarhus Hardballforening. All rights reserved.</small></center></p>
        </div>
    </div>
</footer>