<div class="row">
    <div class="col">
        <h1>Profil tilhørende: {{user.firstname}}</h1>
        <form method="POST" action="/profile/logout">
            <button type="submit" name="logout">Logout</button>
        </form>
    </div>
</div>