<div class="row">
  <div class="col">
    {{# if errors }}
    {{# each errors }}
    <p class="alert alert-danger">{{ this.msg }}</p>
    {{/each}}
    {{/if}}
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h1>Login</h1>
      </div>
      <div class="panel-body">
        <form method="post" action="/registration">
          <div class="form-group">
            <label class="col-md-4">Email*</label>
            <input type="email" class="form-control" name="email" value="{{email}}" />
          </div>
          <div class="form-group">
            <label class="col-md-4">Password*</label>
            <input type="password" class="form-control" name="password" />
          </div>
          <div class="form-group">
            <label class="col-md-4">Fornavn*</label>
            <input type="text" class="form-control" name="firstname" value="{{firstname}}" />
          </div>
          <div class="form-group">
            <label class="col-md-4">Efternavn*</label>
            <input type="text" class="form-control" name="lastname" value="{{lastname}}" />
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Registrer</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>