<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="subscriptionTypeScript.js" defer></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js"></script>
    <title>Test</title>
</head>

<body>
    <div class="container">
        <h1>Kontingenter</h1>
        <div class="row">
            <div class="col">
                <form method="POST" action="/subscriptionType">
                    <div class="form-group">
                        <label for="subscriptionInfoInput">Kontingent information</label>
                        <input type="subscriptionInfo" class="form-control" id="subscriptionInfoInput"
                            aria-describedby="emailHelp" placeholder="Kontigent navn">
                    </div>
                    <div class="form-group">
                        <label for="subLenghtInput">Kontingent længde</label>
                        <input type="subLenght" class="form-control" id="subLenghtInput"
                            placeholder="Kontingent længde">
                    </div>
                    <div class="form-group">
                        <label for="subPriceInput">Kontingent pris</label>
                        <input type="subPrice" class="form-control" id="subPriceInput" placeholder="Månedlig pris">
                    </div>
                    <button type="opret" class="btn btn-primary">Opret</button>
                </form>
            </div>
            
            </div>
        </div>

<div class="row">
                <ul class="list-group">
                    <li class = "item"> </li>
                </ul>
    </div>
</body>

</html>