<div class="row">

    <!-- list row -->
    <div class="col-lg-6">
        <div class="row">
            <label class="col-lg-4">søg med email</label>
            <input class="col-lg-8" type="text" name="mailSearch" id="mailSearch">
            <button id="searchbtn" onclick="searchName()">adsf</button>
        </div>
        <select class="input-medium col-lg-12" size="10" id="userList">

            <!-- list row -->
            <div class="col-lg-6">
                <select class="input-medium" size="10" id="profileList">
                    <option value="1">Item #1</option>
                    <option value="2">Item #2</option>
                    <option value="3">Item #3</option>
                    <option value="4">Item #4</option>
                    <option value="5">Item #5</option>
                    <option value="6">Item #6</option>
                    <option value="7">Item #7</option>
                </select>
            </div>
            <!-- end of list row -->

            <!-- information fields row -->
            <div class="col-lg-6">
                <form method="POST" action="/userProfiles">
                    <div class="row">
                        <label class="col-lg-3">Fornavn: </label>
                        <input class="form-control col-lg-3" id="firstName" type="text" placeholder="Fornavn">
                        <label class="col-lg-3">Efternavn: </label>
                        <input class="form-control col-lg-3" id="lastName" type="text" placeholder="Efternavn">
                    </div>

                    <div class="row">
                        <label class="col-lg-3">Alder: </label>
                        <input class="form-control col-lg-3" id="age" type="number" placeholder="Alder" min="0">
                        <label class="col-lg-3">Brugernavn: </label>
                        <input class="form-control col-lg-3" id="username" type="text" placeholder="Brugernavn">
                    </div>
                    <div class="row">
                        <label class="col-lg-3">Adresse:</label>
                        <input class="form-control col-lg-3" id="address" type="text" placeholder="Adresse">
                        <label class="col-lg-3">Bynavn:</label>
                        <input class="form-control col-lg-3" id="cityname" type="text" placeholder="Bynavn">
                    </div>

                    <div class="row">
                        <label class="col-lg-3">Post nr.:</label>
                        <input class="form-control col-lg-3" maxlength="4" id="zipcode" type="number"
                            placeholder="Post nr.">
                        <label class="col-lg-3">Fødselsdato</label>
                        <input class="form-control col-lg-3" id="birthdate" type="date">
                    </div>
                    <div class="row">
                        <label class="col-lg-3">Tlf. nummer</label>
                        <input class="col-lg-3" maxlength="11" id="phoneNumer" type="tel" placeholder="Tlf. numemr">
                        <label class="col-lg-3">E-Mail</label>
                        <input class="col-lg-3" id="email" type="email" placeholder="E-Mail">
                    </div>
                    <div class="row">
                        <button type="submit" class=" coll-lg-12 btn btn-primary">knap test</button>
                    </div>
                </form>
            </div>
            <!-- end of information fields row -->
    </div>
    <script>
        async function searchName() {
            console.log(document.getElementById("mailSearch").value);
            try {
                const service = await fetch('/userprofiles.js', {
                    method: "GET",
                    body: JSON.stringify(document.getElementById("mailSearch").value),
                    headers: { 'Content-Type': 'application/json' }
                })
                if (response.status >= 400 || !response) {
                    throw new Error('Failed to fetch');
                }
                const json = await service.then((req, response) => response.json());
                console.log(json);
                for (let i = 0; i < json.length; i++) {
                    const list = document.getElementById("userList");
                    let options = document.createElement('option');
                    list.appendChild(options);
                    console.log("hello");
                    options.innerHTML(json[i].firstname);
                }

            } catch (err) {
                console.log(err);
            }
        }
    </script>
    <div class="row">
        <label class="col-lg-3">Tlf. nummer:</label>
        <input class="form-control col-lg-3" maxlength="11" id="phoneNumer" type="tel" placeholder="Tlf. numemr">
        <label class="col-lg-3">E-Mail</label>
        <input class="form-control col-lg-3" id="email" type="email" placeholder="E-Mail">
    </div>
    <div class="row">
        <button class="coll-lg-12">knap test</button>
    </div>
    </form>
</div>
<!-- end of information fields row -->
</div>