<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
</nav>
<h1>Velkommen til shoppen</h1>
<p>Du kan vælge en produktkategori i menuen til venstre</p>