<div class="row">
    <div class="col">
        <h1 class="row">Nyheder</h1>
        <div class="row-lg-6">
            {{#each posts }}
            <div class="col-lg-6 newsBox">
                <h1>{{this.headline}}</h1>
                <p><small><small>Opslået: {{this.postdate}}</small></small></p>
                <p>{{this.body}}</p>
                <p><small><small>Af: {{this.author}}</small></small></p>
            </div>
            {{/each}}
        </div>
    </div>
</div>