<div class="row">
    <div class="col">
        <h2>{{result.info.firstname}} {{result.info.lastname}}</h2>
        <p>Funktion: {{result.info.func}}</p>
        <p>Medlem siden: {{result.created}}</p>
    </div>
</div>